flows/export/n8n_export/jc9xyyAdIGAJMVv1.json
{
  "createdAt": "2025-10-23T17:59:56.069Z",
  "updatedAt": "2025-10-23T18:13:26.000Z",
  "id": "jc9xyyAdIGAJMVv1",
  "name": "Demo: My first AI Agent in n8n",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "b24b05a7-d802-4413-bfb1-23e1e76f6203",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        368,
        32
      ],
      "webhookId": "a889d2ae-2159-402f-b326-5f61e90f602e"
    },
    {
      "parameters": {
        "content": "## Start by saying 'hi'\n![Button](https://i.imgur.com/PrIBJI6.png)",
        "height": 149,
        "width": 150
      },
      "id": "5592c045-6718-4c4e-9961-ce67a251b6df",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        192,
        -48
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=\n# User message\n\n{{ $json.chatInput }}",
        "options": {
          "systemMessage": "Du är en vänlig själ som hjälper till med tekniska problem av alla de slag."
        }
      },
      "id": "41174c8a-6ac8-42bd-900e-ca15196600c5",
      "name": "Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        592,
        32
      ]
    },
    {
      "parameters": {
        "model": "fcole90/ai-sweden-gpt-sw3:6.7b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        464,
        240
      ],
      "id": "9392c131-df0f-494e-afd3-c39d18b0cb17",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "LuNpyiTK2XfDMjkj",
          "name": "Ollama account 2"
        }
      }
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateId": "self-building-ai-agent",
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "ac06b618-1327-40c1-8cdc-4f30a9326727",
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "createdAt": "2025-10-23T17:59:56.072Z",
      "updatedAt": "2025-10-23T17:59:56.072Z",
      "role": "workflow:owner",
      "workflowId": "jc9xyyAdIGAJMVv1",
      "projectId": "ISE9bSpH2FnNe8cq",
      "project": {
        "createdAt": "2025-10-23T06:31:04.570Z",
        "updatedAt": "2025-10-23T06:31:44.033Z",
        "id": "ISE9bSpH2FnNe8cq",
        "name": "Magnus Ternström <magnus@falle.se>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}